body {
  font-family: Arial, sans-serif;
  background-color: #d0caca;
  margin: 0;
  padding: 0;
}

.container {
  width: 422px;
  margin: 50px auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(48, 45, 45, 0.1);
}

h1,
h2 {
  text-align: center;
}

.input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 395px;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

button {
  width: 160px;
  height: 45px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;  
  margin-left: 7%;
}

button:hover {
  background-color: #218838;
}

.result-section {
  /* display: none; */
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
